N8N/Prod.json
{
  "name": "Prod",
  "nodes": [
    {
      "parameters": {
        "modelSource": "inferenceProfile",
        "model": "={{ $('InputVariables').all()[0].json.model_id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        -10304,
        -1424
      ],
      "id": "b5bc407c-99e5-4819-9878-d1f925a2c855",
      "name": "AWS Bedrock Chat Model2",
      "credentials": {
        "aws": {
          "id": "M8yvgL8HNqF8ZdWZ",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').item.json.body.chatInput }}",
        "options": {
          "systemMessage": "=## ROLE & OBJECTIVE\n  You are the **Gameloft Sidekick**, the ultimate AI insider for Gameloft players. Todays date is {{ $now.format('yyyy-MM-dd') }}\n\n**Your Mission**: Deliver the latest news, patch notes, updates, and comprehensive information for Gameloft titles (Asphalt, Disney Speedstorm, Modern Combat, Dungeon Hunter, etc.) using your available tools.\n\n## AVAILABLE TOOLS\n\n### Tool 1: Gameloft Content Search (MCP)\n**Function**: `search_gameloft_content`\n**Purpose**: Search Gameloft's internal knowledge base containing recent game updates, patch notes, company news, and official announcements stored in Supabase.\n\n**Parameters**:\n- `query` (string): Search terms describing what you're looking for\n- `date_start` (string): Start date in YYYY-MM-DD format (e.g., \"2024-01-01\")\n- `date_end` (string): End date in YYYY-MM-DD format (e.g., \"2024-12-31\")\n- `limit` (integer): Number of results (default: 10, max: 50)\n\n**When to Use**: \n- First priority for all Gameloft-related queries\n- Most recent and official information\n- Game-specific updates, patch notes, release schedules\n- Official company announcements\n\n### Tool 2: Web Search (SearXNG)\n**Function**: `searxng_web_search_mcp_websearch`\n**Purpose**: Search the public internet for supplementary information, community discussions, third-party reviews, or real-time gaming industry context.\n\n**When to Use**:\n- When internal database doesn't have sufficient information\n- For broader gaming industry context\n- Community discussions (Reddit, forums, Discord)\n- Third-party reviews and analysis\n- Cross-reference official information with community feedback\n\n## SEARCH STRATEGY\n1. **Always start with MCP tool** (`search_gameloft_content`) to check internal database first\n2. **Use appropriate date ranges** - for \"latest\" requests, use recent dates (e.g., last 30-90 days)\n3. **Use web search as supplementary** for additional context or when internal data is limited\n4. **Combine both sources** for comprehensive answers\n5. **Always mention your sources** (internal database vs. web search)\n6. **Date Format**: Always use YYYY-MM-DD format for MCP searches\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -9936,
        -1648
      ],
      "id": "0f23e37b-bb1a-47a2-af01-84139a392095",
      "name": "Normal Coversation"
    },
    {
      "parameters": {
        "modelSource": "inferenceProfile",
        "model": "={{ $('InputVariables').all()[0].json.model_id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        -9904,
        -2032
      ],
      "id": "384fea45-d209-4ca7-95a2-dcd6ff606cb8",
      "name": "AWS Bedrock Chat Model16",
      "credentials": {
        "aws": {
          "id": "M8yvgL8HNqF8ZdWZ",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "82f66995-1878-40e7-b9d7-b7d0f6086d23",
              "leftValue": "={{ $('Webhook1').item.json.body.chatInput }}",
              "rightValue": "Generate a concise, 3-5 word title with an emoji summarizing the chat history",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10528,
        -1904
      ],
      "id": "2e666733-3db6-443c-a16a-8c0c2af48bde",
      "name": "If5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bc3b021-4c59-4311-a0e8-f7134d17af22",
              "name": "output",
              "value": "= {{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9296,
        -2160
      ],
      "id": "04ba5286-e410-434c-8137-1adc16e255c4",
      "name": "edit_Rename"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bc3b021-4c59-4311-a0e8-f7134d17af22",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9296,
        -1648
      ],
      "id": "efe02e35-a01f-4c69-913a-758fd22449ea",
      "name": "edit_normalconversation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"executionId\": {{ $execution.id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -11200,
        -2096
      ],
      "id": "a4be1204-982d-4b77-8a83-1a409ba957b8",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $json.body.user.email }}"
            },
            {
              "key": "chat_id",
              "value": "={{ $json.body.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -11200,
        -1904
      ],
      "id": "4fdb7f54-14a5-402a-8bf8-fcb5d3e0f2f8",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79dc1e79-ab92-420e-800f-fb6b0e22d00c",
              "name": "model_id",
              "value": "us.anthropic.claude-haiku-4-5-20251001-v1:0",
              "type": "string"
            },
            {
              "id": "3c2e61c7-d1b3-476c-8218-5cbfefd361d0",
              "name": "table_name",
              "value": "={{ $json.table_name }}",
              "type": "string"
            },
            {
              "id": "266b9b19-c03a-46a6-b7ca-6c615104f9b4",
              "name": "query_filter",
              "value": "={{ $json.query_filter }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10752,
        -1904
      ],
      "id": "38523fcd-dd6b-4a8a-b43f-10447ef3e06e",
      "name": "InputVariables"
    },
    {
      "parameters": {
        "jsCode": "const mappings = {\n  'vectordb': {\n    table_name: 'documents',\n    query_filter: 'match_documents'\n  }\n};\n\nconst items = $input.all();\n\nfor (const item of items) {\n  // Safe access to model name, defaults to empty string if missing\n  const modelName = item.json.body.metadata?.model?.name?.toLowerCase() || '';\n  \n  // Default result structure - REMOVED studio_name\n  let result = { \n    table_name: null, \n    query_filter: null \n  };\n  \n  for (const [ending, mapping] of Object.entries(mappings)) {\n    if (modelName.endsWith(ending)) {\n      result = mapping;\n      break;\n    }\n  }\n  \n  item.json = result;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10976,
        -1904
      ],
      "id": "d59e8ce1-2613-44f0-9199-53d7d6f4f0d4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gameloft",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -11424,
        -2000
      ],
      "id": "ef3ba58b-2369-4653-8f0c-28527455ddff",
      "name": "Webhook1",
      "webhookId": "db23fc6c-19ba-4c58-acce-09e3fdbeaaf9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "abiK7hgFw6YGplfP",
          "name": "n8n authorization"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').item.json.body.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Here to generate the title of the chat."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -9984,
        -2256
      ],
      "id": "4cec2528-55ed-495a-a1f1-ff3652109ad5",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.metadata.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -10176,
        -1424
      ],
      "id": "76e847b0-36a8-4e15-97e4-5103b3166386",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -9632,
        -1424
      ],
      "id": "6805fca5-7cf5-46d5-a9f7-5353bae5b4af",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        -9504,
        -1424
      ],
      "id": "a5412d6e-a886-42a1-8be5-8139d1c95bf6",
      "name": "SearXNG",
      "credentials": {
        "searXngApi": {
          "id": "QqAXIgAa8L08fAhE",
          "name": "SearXNG account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://172.31.20.3:8002/sse",
        "serverTransport": "sse",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -9776,
        -1408
      ],
      "id": "55b703d9-5224-4e1c-9075-7065cf70f141",
      "name": "MCP Client"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "98.84.126.223:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept": "*/*",
            "connection": "keep-alive",
            "authorization": "Bearer token",
            "content-type": "application/json",
            "content-length": "5189"
          },
          "params": {},
          "query": {},
          "body": {
            "chat_id": "d27d7086-e31d-4c17-8307-22eba7637ffa",
            "user": {
              "id": "78fe347c-3fe3-4aaa-b65d-09d589159d13",
              "name": "GAURAV MOHAN RAMSE",
              "email": "gramse@keywordsstudios.com",
              "username": null,
              "role": "admin",
              "profile_image_url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAIrUlEQVR4AexaaYwURRT+umdmm5lZcBEEFhFUgiKIEkVEcSUeEQU0Kh4xGEWNGuMd9YdXxJh4xsQz3geoKEpEEAzEeAK63gcsV0BuEJB7Z2Z7jm5fjdlle2qn6e7t6umVmnRNd72qd9T3dVV3VbW69/WDTZnCg4EK+QsVApKQUNEBSEIkISFDIGThyB4iCQkZAiELR/YQSUjIEAhZOLKHHBCEhKyRHSkc2UNCxpYkRBISMgRCFo7sIZKQkCEQsnBkD5GEhAyBkIUje4gkJGQIhCycjtRDQgadmHAkIWJw9WxVEuIZOjGKkhAxuHq2KgnxDJ0YRUmIGFw9W5WEeIZOjKIkRAyunq1KQjxDJ0ZREiIGV89WJSGeoROjKAkRg6tnq5IQz9CJUawYIWrnw6GNeBSJ8fVITliB6ombUH3NZiSvXo/kFUuQuOhbdDrzLUQOOcFTy9UuRyDSa6T71PNkKJ26e/Lph1LghESowYnLf0Pisl8QG3wj1JoBBEA3IKIBahWUaAJKoifUgwcjesQFiF/wOZJXroJ2yuOAEoHTX3zsHMTHznKfxn1GN8hysBskcfF8aCOfRqTHSU7dtrteoITER09DnBqsVvd1Fbii1SA26PoiUGr3oc50FcVZvXK16AZRuw5CbOBExM+fi/iYmVBincvV9k0eDCHUuMT47xHpc3a7Ale0rkhQj3FMSru8WZUjtafR8LoQcNFL4eEXCCGJC7+hoemoNsIzYexcgtzyd9D0xUSk3h+EzOyx0L+7B/l1cwEjz+soKhLUy1yP82TL2L0KtmnPapiZrUBB5/2SREkeSs+1N+hK3CGcEG3EY0TGAK4Fpr4T6RmjkP64DvqCO5Bf8ynM9BYUttQjt/RNNH0+AY1T+iK3+CVOlz1vOo16kZfbSAwCOz19OGzTR8OQmnoMGt/ujcysc2DmUpzFaN/zADXGyf0SCCVE7X48YoNv4GItbPy62HBjRwNXZhHQnar/8AD0+vtR+ov0OYse/rWlYt/yhW2/EHknESl7rTbVKGL9L7HKfMwJJUQ79SkuVOOfP5CZO56GoxxXVk6Qa3gZuRVTS4oVVA25uUTmb5b12FzDa5xRtetATlYi8JxVPWvuR1FJ9qY5xIkltUw0fXVdicxZNvvTJKpoUtp3tPclYZ+l8lf5tbO5QsXlWyJnwEYgjJCqoXdxbvPr5oGN5VyBA4HZtB2lQ5xa3ceBZvuqmLv/4g0UmniZTxJhhERq66whmgb0b9s3xLCXgMY3uqElTRZPiNprhLUdlDN2r6R/MYcwQtTO/SwRszvc1HdZZB0hEzv6Ki7Mwmaaj3BSfwRCCFHYUEJvI61DNNObW2c7xHVswBWI9htjiZXdWOzV3CL0MSOEEDXJDyXGnjU+hu3BFE0oi7NsNtMuk9hkM9K7jt7ebkXy8t+hnf4C50ivv4+T+SkQQoiS5OcHxq5l+42brRcVV3vZiq/DFKMFyv0apgrqQf1Rfe1W25ScsBzx8z5B1fBJUKoPIy3rkf3jGeRXTbcKfc6JISTekwvTyYOQLckXV3vZiq/DxHQ4ZwIE+sK7kf35EQGWrSaFEELTW6sXyrHhgE4d9tBGPoXYUVcKj18IIWaKf4CrNW0tLlrbZ2S2/DeDN2gWXy5ZVZzn6LXbTG2Ebcpso3upkWxaJ6AkoEOBVvdscZ+GMsIO1c6y1zKDGl6qq3Y5slTE5dmCXuNbvWCXwIjiNPcvMGilN/XBcbBNUwciNaUf+a9F9sdJZJQnRqNdTioQdgghxNy7lgtYoaVrTuhSoFR1EbrS2hIOkZ5d9DyavuSXedQacetYzL8YQmgCWLp0XZwo0kYVc+o1RXrys2avtpzo5VfPhJndbamqaAdZ8n5nhBDCgixddwJNFLVhD7Iiz0mtPdWzrldFtjpt0aV2WPI+Z4QRkl8ziwuV7U9zQocCJZZE1SB+b8Whuudqxs6lJbpKSd7frDBCcg2v8Fuh0XhxFuylCZ3Ofg9sp9CLbnt02M4mp89m+pzQH4EwQkCvmbllk7koq4Y/hEjvUZzcTsDWlNiShl0dUWWlzxDmR9Fq2ElIEkcIhavTppKZY+/1lGk5FMTPnQ5t+MMtknIX7EUgceHXaGtNqZyO33KzaQdnUon34GR+CYQSwr7eyMwZB9ZbLAHTQl9syC2ovnoD4qM/pBnwBEToDUrtegxYb2Afp8XPn1f8mE7tNsSiGnTG1HlC1I64hdsMnLF9EfSFbPeQn2SBninsYwWt7jnEx81B4uIFYL2BPfwjPYaRCYXSvsNM/w19wZ37BAFcmTR7L3UT7agfOTQ3JLd8CtIzz4KZY19wNEvdnQtbf0Lqo2HIrZxGim2QS1IRR1uT3Gjf0YgeTj1fgEOxQ1argNn7fOqd/sj+9iTMfLpVif2lQbN+ff7tyHx6LpDPgA2DZnpri1JZWzTbbqnELows+3edzOweFP1aNBXEjr3JIvErExghxYDNArK/PoHU5MOQmT0GuRXvwdj+J8zG9WBjNRuSjB2LUdjwJXINr9K60xCkPzyB6r1bVG/+Y184Nu+rl1sSZ2tWzXXYOT3j9GZ11+dG2rtnNlqnzOyxru04UQiWkFYRFbb8AH3+bUh/cgZS04Yi9e4ApN4fjPSMUcjMuxR6/b0wU5taaRwYlxUj5MCA130rJSHuMROqIQkRCq9745IQ95gJ1ZCECIXXvXFJiHvMhGr8bwgRilKAxiUhAYLtxJUkxAlKAdaRhAQIthNXkhAnKAVYRxISINhOXElCnKAUYB1JSIBgO3ElCXGCUoB1JCEBgu3ElSTEFqXgCyUhwWNu61ESYgtP8IWSkOAxt/UoCbGFJ/hCSUjwmNt6lITYwhN8oSQkeMxtPUpCbOEJvlASEjzmth4lIbbwiCm0syoJsUOnAmWSkAqAbudSEmKHTgXKJCEVAN3OpSTEDp0KlElCKgC6nUtJiB06FSiThFQAdDuX/wIAAP//t1MwwQAAAAZJREFUAwDH6KN2xkUH6gAAAABJRU5ErkJggg==",
              "bio": null,
              "gender": null,
              "date_of_birth": null,
              "info": null,
              "settings": {
                "ui": {
                  "version": "0.6.40"
                }
              },
              "api_key": null,
              "oauth_sub": null,
              "last_active_at": 1764853939,
              "updated_at": 1764149159,
              "created_at": 1764149159
            },
            "metadata": {
              "user_id": "78fe347c-3fe3-4aaa-b65d-09d589159d13",
              "chat_id": "d27d7086-e31d-4c17-8307-22eba7637ffa",
              "message_id": "7d65b9d4-caf1-4ded-9fd8-fcc33f785758",
              "session_id": "ShMiMcHgiqyQRUr2AAGc",
              "filter_ids": [],
              "tool_ids": null,
              "tool_servers": [],
              "files": null,
              "features": {
                "voice": false,
                "image_generation": false,
                "code_interpreter": false,
                "web_search": false
              },
              "variables": {
                "{{USER_NAME}}": "GAURAV MOHAN RAMSE",
                "{{USER_LOCATION}}": "Unknown",
                "{{CURRENT_DATETIME}}": "2025-12-04 18:42:19",
                "{{CURRENT_DATE}}": "2025-12-04",
                "{{CURRENT_TIME}}": "18:42:19",
                "{{CURRENT_WEEKDAY}}": "Thursday",
                "{{CURRENT_TIMEZONE}}": "Asia/Calcutta",
                "{{USER_LANGUAGE}}": "en-US"
              },
              "model": {
                "id": "n8n_test_",
                "name": "Gameloft Assistant",
                "object": "model",
                "created": 1764231528,
                "owned_by": "openai",
                "pipe": {
                  "type": "pipe"
                },
                "has_user_valves": false,
                "info": {
                  "id": "n8n_test_",
                  "user_id": "78fe347c-3fe3-4aaa-b65d-09d589159d13",
                  "base_model_id": null,
                  "name": "Gameloft Assistant",
                  "meta": {
                    "description": null,
                    "capabilities": {
                      "vision": false,
                      "file_upload": false,
                      "web_search": false,
                      "image_generation": false,
                      "code_interpreter": false,
                      "citations": true,
                      "status_updates": true
                    },
                    "suggestion_prompts": null,
                    "tags": []
                  },
                  "access_control": {
                    "read": {
                      "group_ids": [],
                      "user_ids": []
                    },
                    "write": {
                      "group_ids": [],
                      "user_ids": []
                    }
                  },
                  "is_active": true,
                  "updated_at": 1764656755,
                  "created_at": 1764656755
                },
                "actions": [],
                "filters": [],
                "tags": []
              },
              "direct": false,
              "params": {
                "stream_delta_chunk_size": null,
                "reasoning_tags": null,
                "function_calling": "default"
              }
            },
            "files": [],
            "chatInput": "Give me latest  about asphalt"
          },
          "webhookUrl": "http://localhost:5678/webhook/gameloft",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "AWS Bedrock Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Normal Coversation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normal Coversation": {
      "main": [
        [
          {
            "node": "edit_normalconversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model16": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Coversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InputVariables": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "InputVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "edit_Rename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Normal Coversation",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Normal Coversation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "Normal Coversation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Normal Coversation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10f721b6-5c3a-4e3a-8537-31297f640852",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b452de23bd3519dbe5b7270dd8130811a7e8a39d7c86d9441b8027db6657c3c4"
  },
  "id": "Z2YTUGoEROUbEZH2",
  "tags": []
}